header {
  background-color: #333; /* Цвет фона шапки */
  padding: 10px; /* Внутренний отступ шапки */
  display: flex; /* Располагаем элементы в один ряд */
  justify-content: space-between; /* Равномерно распределяем элементы по ширине */
  align-items: center; /* Выравниваем элементы по вертикали */
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  font-family: 'Montserrat', sans-serif; /* Устанавливаем шрифт */
  font-weight: bold; /* Устанавливаем жирный стиль */
  color: #fff; /* Цвет текста логотипа */
}

.search-bar {
  width: 730px; /* Устанавливаем ширину поисковой строки */
  margin-right: 10px; /* Отступ справа для элемента */
  padding-left: 15%; /* Отступ слева для элемента */
}

.search-bar input {
  width: 100%; /* Занимаем всю доступную ширину */
  padding: 5px; /* Внутренний отступ для поля ввода */
  border-radius: 4px; /* Закругляем углы поля ввода */
  border: none; /* Убираем границу */
}

.icons {
  margin-right: 10px; /* Отступ справа для иконок */
}

.icon {
  font-size: 20px; /* Размер иконок */
  margin-right: 40px; /* Отступ между иконками */
  color: #fff; /* Цвет иконок */
}

.account-btn {
  height: 100%; /* Занимаем всю доступную высоту */
  background-color: #0056b3; /* Изменяем цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: none; /* Убираем границу */
  padding: 10px 15px; /* Внутренний отступ кнопки */
  border-radius: 0; /* Убираем закругление углов кнопки */
  cursor: pointer; /* Изменяем вид курсора при наведении */
}

.account-btn:hover {
  background-color: #003d80; /* Цвет фона кнопки при наведении */
}