/* SubHeader.css */

.sub-header {
  background-color: #3F3F3F; /* Цвет фона саб-хедера */
  padding: 10px 20px; /* Внутренние отступы саб-хедера */
  text-align: center; /* Выравниваем текст по центру */
  background: linear-gradient(to top, #1A1A1A, #3F3F3F);
}

nav ul {
  list-style-type: none; /* Убираем маркеры списка */
  margin: 0; /* Убираем внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
}

nav ul li {
  display: inline; /* Располагаем элементы горизонтально */
  margin: 0 10px; /* Отступы между элементами */
}

nav ul li a {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  color: #F0F0F0; /* Цвет текста ссылок */
  font-weight: bold; /* Жирный шрифт */
  font-size: 16px; /* Размер шрифта */
}

nav ul li a:hover {
  color: #007bff; /* Цвет текста ссылок при наведении */
}
